{% extends 'layout.html.twig' %}

{% block content %}

<ul style="list-style: none;">
<li>First Name: {{ model.firstName }}</li>
<li>Last Name: {{ model.lastName }}</li>
<li>Address: {{ model.address1 }}</li>
<li>{{ model.address2 }}</li>
<li>{{ model.address3 }}</li>
<li>Email Address: {{ model.email }}</li>
<li>Phone: {{ model.phone }}</li>
</ul>

{% endblock %}